.contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     gap: 20px;
     padding: 0 40px;
}

.contact .col{
    flex:  1 1 calc(50% - 20px);
}

.contact .col ul li{
    display: block;
    line-height: 1.4;
    margin: 10px 0;
    list-style: none;
}

.contact .col  form input{
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    outline: 0;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: rgb(16, 14, 14);
}

.btn{
    padding: 10px 25px;
    border: 0;
    color: white;
    background: rgb(6, 4, 110);
}


@media (max-width:600px) {
    .contact .col{
        flex:  1 1 calc(100% - 20px);
    }
}