.gallery{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 40px;
}

.gallery .item{
    flex: 1 1 calc((25% - 20px));
}

.gallery .item img{
    width: 100%;
    border-radius: 10px;
}


@media (max-width:800px) {
    .gallery .item{
        flex: 1 1 calc((50% - 20px));
    } 
}
@media (max-width:500px) {
    .gallery .item{
        flex: 1 1 calc((100% - 20px));
    } 
}