
.testimonial{
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}
.slider {
    display: flex;
    overflow: hidden;
    transform: translateX(50%);
    align-items: center;
    scroll-snap-type: x mandatory; /* Optional: Snap slides into view */
}


.slider .slide {
    flex: 0 0 50%; 
    padding: 0 30px;
}

.slide-img{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    
}


.slide-img img{
    width: 50px;
    border-radius: 50%;
    border: 3px solid green;
}

.slide-desc{
  width: 100%;
 
}

.slide-desc p{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    color: rgb(56, 50, 50);
}